<div>
    <div style="display: inline-block; width: 80%">
    {{#if link}}
        <a href="{{link}}">{{title}}</a> (<i>{{match}}</i>)
    {{else}}
        {{title}} (<i>{{match}}</i>)
    {{/if}}
    </div>
    <div style="dislay: inline-block; width: 20%">{{dt}}</div>
</div>
