<table style="border:1px solid #ccc; margin:10px">
    <tr>
        <td>
        {{#if imageUrl}}
            <img src="{{imageUrl}}" width="150px">
        {{/if}}
        </td>
        <td valign="top">
            <h4>{{title}} by {{author}}</h4>
            <div>{{description}}</div>
            <div>published {{publishedDate}}</div>
        </td>
    </tr>
<table>
