<table style="border:1px solid #ccc; margin:10px">
    <tr>
        <td>
        {{#if thumb}}
            <img src="{{thumb}}" width="150px">
        {{/if}}
        </td>
        <td valign="top">.
            <h4><a href="{{url}}">{{title}}</a></h4>
            <ul>
                <li>{{players}}</li>
                <li>{{genres}}</li>
                <li>{{tags}}</li>
                <li>{{features}}</li>
            </ul>
            <div>{{reviews}}</div>
            <div>{{description}}</div>
            <div>{{date}}</div>
        </td>
    </tr>
<table>
